@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.box {
  animation: fade-in 2000ms;
  opacity: 1;
}
img {
  margin-left: 32%;
  image-rendering: optimizeQuality;
  animation: fade-in 2000ms;
}

.hostimg {
  /* display: inline-block; */
  display: block;
  flex-flow: row wrap;
  image-rendering: optimizeQuality;
  height: 200px;
  width: 400px;
  position: relative;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 2%;
  animation: fade-in 2000ms;
  opacity: 1;
}
.memberimg {
  /* display: inline-block; */
  display: block;
  flex-flow: row wrap;
  image-rendering: optimizeQuality;
  height: 200px;
  width: 470px;
  position: relative;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 3%;
  animation: fade-in 2000ms;
  opacity: 1;
}

body {
  background-color: #dec9bb;
  /* text-align: center; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Iowan Old Style" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Sign In Page  */

div.signup {
  animation: fade-in 2000ms;
}

img.welcome {
  width: 40%;
}
form.signup {
  width: 100%;
  margin: 0% 38% 62%;
}

input[type="text"]:hover,
input[type="password"]:hover {
  background-color: #d9d9d9;
}

input {
  width: 25%;
  padding: 10px 20px;
  margin-left: 50%;
  margin-right: 50%;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

label {
  font-size: large;
  font-weight: bold;
  color: #57584c;
}

.signin-btn {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  width: 90px;
  color: #dec9bb;
  background: #57584c;
  border-radius: 6px;
}

input[type="submit"]:hover {
  background-color: #8c8d7b;
}

div.button {
  margin-left: 18%;
  margin-top: -5%;
  justify-content: center;
}

button.sign-up {
  border: 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  width: 95px;
  height: 35px;
  color: #dec9bb;
  background: #795645;
  border-radius: 6px;
  margin-top: 0%;
}

button.sign-out {
  border: 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  right: 0;
  bottom: 1;
  width: 95px;
  height: 35px;
  color: #dec9bb;
  background: #795645;
  border-radius: 6px;
}

button.sign-out:hover {
  background-color: #e55730;
}

button:hover {
  background-color: #a88575;
}

h1.signup {
  text-align: center;
  color: #57584c;
}
h2.noaccount {
  margin-top: 5%;
  margin-left: -95%;
  margin-bottom: 0.5%;
  font-size: 15px;
  text-align: center;
  color: #57584c;
}

p.error {
  color: #e55730;
}

/* Home Page */
h1 {
  text-align: center;
}

h3 {
  color: #44453c;
  text-align: center;
  font-size: xx-large;
  animation: fade-in 2000ms;
}

h3.book {
  max-width: 412px;
  text-overflow: wrap;
}

.grid {
  column-count: 4;
  column-gap: 5%;
  flex-flow: row wrap;
  -webkit-column-width: 150px;
  -moz-column-width: 150px;
  column-width: 150px;
}
.grid > * {
  margin: 0 0 1rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 10px;
  animation: fade-in 2000ms;
}

p.host {
  text-align: center;
  font-size: large;
  text-transform: auto;
  width: 100%;
  padding: 10px;
  text-size-adjust: auto;
}

p.host:hover {
  background-color: #e7e4e4;
  color: #57584c;
  font-weight: bold;
}

.hostPanels {
  column-count: 3;
  column-gap: 0;
}

div #memberPanel {
  margin-left: 10%;
  width: 300px;
  border: 1px solid #57584c;
  text-align: center;
  font-size: large;
  animation: fade-in 2000ms;
}

img.memberPanel {
  display: block;
  width: 60%;
  margin-top: 4%;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

p.memberName {
  margin-bottom: 40px;
  text-align: center;
}

button.memberPanel {
  border: 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  width: 95px;
  height: 35px;
  color: #dec9bb;
  background: #795645;
  border-radius: 6px;
}
button.memberPanel:hover {
  background-color: #a88575;
  color: white;
}

div.memberPanel {
  margin-top: 0px;
}

div #bookPanel {
  width: 600px;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
  animation: fade-in 2000ms;
}

h4.bookPanel {
  text-align: center;
  width: 70%;
  font-size: 25px;
}

img.bookPanel {
  width: 60%;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
img.currentlyReading {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

div #discussionPanel {
  margin-right: 10%;
  padding-bottom: 60px;
  width: 400px;
  border: 1px solid #57584c;
  text-align: center;
  font-size: large;
  animation: fade-in 2000ms;
}

div.prompt {
  width: 350px;
  margin-left: 6%;
}

.comment-info {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}

.comment-author {
  color: #44453c;
  font-weight: bold;
  text-decoration: none;
}

.comment-body {
  padding: 0 20px;
  padding-left: 28px;
}

details {
  cursor: pointer;
}
