@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.box {
  animation: fade-in 2000ms;
  opacity: 1;
}
img {
  margin-left: 32%;
  image-rendering: optimizeQuality;
}

.hostimg {
  /* display: inline-block; */
  display: block;
  flex-flow: row wrap;
  image-rendering: optimizeQuality;
  height: 200px;
  width: 400px;
  position: relative;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 2%;
  animation: fade-in 2000ms;
  opacity: 1;
}
.memberimg {
  /* display: inline-block; */
  display: block;
  flex-flow: row wrap;
  image-rendering: optimizeQuality;
  height: 200px;
  width: 470px;
  position: relative;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 3%;
  animation: fade-in 2000ms;
  opacity: 1;
}

body {
  background-color: #dec9bb;
  /* text-align: center; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Iowan Old Style" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  margin-top: 0%;
  margin-left: 37%;
}

form.box {
  animation: fade-in 1000ms;
  opacity: 1;
}

input {
  width: 40%;
  padding: 10px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
label {
  font-size: large;
  font-weight: bold;
  color: #57584c;
}

.input-btn {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  width: 90px;
  color: #dec9bb;
  background: #57584c;
  border-radius: 6px;
}

input[type="text"]:hover {
  background-color: #d9d9d9;
}
input[type="password"]:hover {
  background-color: #d9d9d9;
}
input[type="submit"]:hover {
  background-color: #8c8d7b;
}

div.button {
  margin-top: -55px;
  margin-left: 30%;
}

button.sign-up {
  border: 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  width: 95px;
  height: 35px;
  color: #dec9bb;
  background: #795645;
  border-radius: 6px;
}
button.sign-out {
  border: 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 1;
  width: 95px;
  height: 35px;
  color: #dec9bb;
  background: #795645;
  border-radius: 6px;
}

button.sign-out:hover {
  background-color: #e55730;
}

button:hover {
  background-color: #a88575;
}

h1 {
  text-align: center;
}

h3 {
  color: #44453c;
  text-align: center;
  font-size: xx-large;
  animation: fade-in 2000ms;
}

h1.signup {
  text-align: center;
  color: #57584c;
}
h2.noaccount {
  margin-top: 5%;
  margin-left: -95%;
  font-size: 15px;
  text-align: center;
  color: #57584c;
}

p.error {
  color: #e55730;
}

.grid {
  column-count: 4;
  column-gap: 5%;
  flex-flow: row wrap;
  -webkit-column-width: 150px;
  -moz-column-width: 150px;
  column-width: 150px;
}
.grid > * {
  margin: 0 0 1rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 10px;
  animation: fade-in 2000ms;
}

p.host {
  text-align: center;
  font-size: large;
  text-transform: auto;
  width: 100%;
  padding: 10px;
  text-size-adjust: auto;
}

p.host:hover {
  background-color: #e7e4e4;
  color: #57584c;
  font-weight: bold;
}

div #memberPanel {
  float: left;
}

div #bookPanel {
  float: right;
}

div #discussionPanel {
  float: right;
}
