@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.box {
  animation: fade-in 2000ms;
  opacity: 1;
}
img {
  margin-left: 32%;
  image-rendering: optimizeQuality;
  animation: fade-in 2000ms;
}

.hostimg {
  /* display: inline-block; */
  display: block;
  flex-flow: row wrap;
  image-rendering: optimizeQuality;
  height: 200px;
  width: 400px;
  position: relative;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  animation: fade-in 2000ms;
  opacity: 1;
}
.memberimg {
  /* display: inline-block; */
  display: block;
  flex-flow: row wrap;
  image-rendering: optimizeQuality;
  height: 200px;
  width: 470px;
  position: relative;
  margin: 0 auto;
  margin-top: 0%;
  margin-bottom: auto;
  animation: fade-in 2000ms;
  opacity: 1;
}

body {
  background-color: #dec9bb;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Iowan Old Style" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Sign In Page  */

div.signup {
  animation: fade-in 2000ms;
}

img.welcome {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

form.signup {
  width: 100%;
  margin: 0% 38% 62%;
}

input[type="text"]:hover,
input[type="password"]:hover {
  background-color: #d9d9d9;
}

input {
  width: 25%;
  padding: 10px 20px;
  margin-left: 50%;
  margin-right: 50%;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

label {
  font-size: large;
  font-weight: bold;
  color: #57584c;
}

.signin-btn {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  width: 90px;
  color: #dec9bb;
  background: #57584c;
  border-radius: 6px;
}

input[type="submit"]:hover {
  background-color: #8c8d7b;
}

div.button {
  margin-left: 18%;
  margin-top: -5%;
  justify-content: center;
}

button.sign-up {
  border: 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  width: 95px;
  height: 35px;
  color: #dec9bb;
  background: #795645;
  border-radius: 6px;
  margin-top: 0%;
}

form.signupform {
  width: 100%;
  margin-left: 38%;
  margin-right: 62%;
  animation: fade-in 2000ms;
}

button.sign-out {
  border: 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  /* right: 0;
  bottom: 1; */
  width: 95px;
  height: 35px;
  color: #dec9bb;
  background: #795645;
  border-radius: 6px;
}

button.sign-out:hover {
  background-color: #e55730;
}

button:hover {
  background-color: #a88575;
}

h1.signup {
  text-align: center;
  color: #57584c;
}
h2.noaccount {
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 2%;
  font-size: 15px;
  text-align: center;
  color: #383931;
}

h2.noaccount:hover {
  color: #8c8d7b;
}

p.error {
  color: #e55730;
}

/* Home Page */
h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

h3 {
  color: #44453c;
  text-align: center;
  font-size: xx-large;
  animation: fade-in 2000ms;
}

h3.book {
  max-width: 412px;
  text-overflow: wrap;
}

.grid {
  display: grid;
  width: 400px;
  grid-column: 1;
}
.grid > * {
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  animation: fade-in 2000ms;
}

p.host {
  text-align: center;
  font-size: large;
  text-transform: auto;
  width: auto;
  text-size-adjust: auto;
}

p.host:hover {
  background-color: #e7e4e4;
  color: #57584c;
  font-weight: bold;
}

section.panel {
  /* margin-top: auto;
  margin-bottom: auto; */
}

.hostPanels {
  column-count: 3;
  column-gap: 0;
}

div #memberPanel {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border: 1px solid #57584c;
  text-align: center;
  font-size: large;
  animation: fade-in 2000ms;
}

img.memberPanel {
  /* display: block; */
  width: 60%;
  margin-top: 4%;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

p.memberName {
  margin-bottom: 40px;
  text-align: center;
}

button.memberPanel {
  border: 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  width: 95px;
  height: 35px;
  color: #dec9bb;
  background: #795645;
  border-radius: 6px;
}
button.memberPanel:hover {
  background-color: #a88575;
  color: white;
}

div.memberPanel {
  margin-top: 0px;
}

section #bookPanel {
  display: absolute;
  max-width: 600px;
  overflow-x: auto;
  animation: fade-in 2000ms;
}

h4.bookPanel {
  text-align: center;
  margin-left: 0%;
  margin-right: 80%;
  width: 70%;
  font-size: 25px;
}

img.bookPanel {
  width: 60%;

  /* margin-bottom: 40px; */
  margin-left: 4%;
  margin-right: auto;
}
img.currentlyReading {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

div #discussionPanel {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 60px;
  max-width: 400px;
  height: 700px;
  border: 1px solid #57584c;
  text-align: center;
  font-size: large;
  animation: fade-in 2000ms;
  overflow-x: hidden;
  overflow-y: auto;
}
div.div {
  margin-left: 10%;
  margin-right: auto;
  width: 600px;
}

div.prompt {
  width: 350px;
  margin-left: 6%;
}

.comment-info {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}

.comment-author {
  color: #44453c;
  font-weight: bold;
  text-decoration: none;
}

.comment-body {
  padding: 0 20px;
  padding-left: 28px;
}

details {
  cursor: cell;
}

div.columns {
  column-count: 2;
  column-gap: 0;
  animation: fade-in 2000ms;
}

@media screen and (max-width: 600px) {
  div.columns {
    width: 100%;
  }
}

section.hostGroups {
  margin-top: auto;
  margin-bottom: 1000px;
  align-content: center;
  display: grid;
  justify-content: center;
}

section.memberGroups {
  margin-top: auto;
  margin-bottom: auto;
  align-content: center;
  display: grid;
  justify-content: center;
}

.hero-image {
  background-image: url("Hero_Image_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  margin: auto;
  width: 90%;
  padding: 56px;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero-button {
  margin: auto;
  width: 10%;
  text-align: center;
}

.hero-h1 {
  color: #dec9bb;
  background: #795645;
  border-radius: 6px;
  padding: 2%;
  margin: auto;
  margin-bottom: 2%;
  width: 30%;
  text-align: center;
}

button.back {
  background-color: #626455;
  border: 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  /* justify-content: center; */
  /* flex-direction: column; */
  margin-left: 3%;
  margin-bottom: 1%;
  margin-top: 0%;
  width: 95px;
  height: 35px;
  color: #dec9bb;
  border-radius: 6px;
}

button.back:hover {
  background-color: #8c8d7b;
}
